# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# model files
./data/pywhispercpp/models/*